body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-563px;
  width:280px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:112px;
  width:100px;
  height:60px;
  display:flex;
}
#u418 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u418_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:237px;
  width:100px;
  height:60px;
  display:flex;
}
#u419 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u419_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:375px;
  width:100px;
  height:60px;
  display:flex;
}
#u420 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u420_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:514px;
  width:100px;
  height:60px;
  display:flex;
}
#u421 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u421_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u422_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:734px;
  width:100px;
  height:60px;
  display:flex;
}
#u422 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u422_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:172px;
  width:0px;
  height:0px;
}
#u423_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:70px;
}
#u423_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:53px;
  width:20px;
  height:20px;
}
#u423_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:297px;
  width:0px;
  height:0px;
}
#u424_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:83px;
}
#u424_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:66px;
  width:20px;
  height:20px;
}
#u424_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:31px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:435px;
  width:0px;
  height:0px;
}
#u425_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:84px;
}
#u425_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:67px;
  width:20px;
  height:20px;
}
#u425_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:375px;
  width:100px;
  height:60px;
  display:flex;
}
#u426 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u426_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u427 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:237px;
  width:100px;
  height:60px;
  display:flex;
}
#u427 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u427_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:405px;
  width:0px;
  height:0px;
}
#u428_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:85px;
  height:10px;
}
#u428_seg1 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:-10px;
  width:20px;
  height:20px;
}
#u428_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:375px;
  width:0px;
  height:0px;
}
#u429_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-78px;
  width:10px;
  height:83px;
}
#u429_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-86px;
  width:20px;
  height:20px;
}
#u429_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-47px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:267px;
  width:0px;
  height:0px;
}
#u430_seg0 {
  border-width:0px;
  position:absolute;
  left:-80px;
  top:-5px;
  width:85px;
  height:10px;
}
#u430_seg1 {
  border-width:0px;
  position:absolute;
  left:-88px;
  top:-10px;
  width:20px;
  height:20px;
}
#u430_text {
  border-width:0px;
  position:absolute;
  left:-90px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:621px;
  width:100px;
  height:60px;
  display:flex;
}
#u431 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u431_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:574px;
  width:0px;
  height:0px;
}
#u432_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:52px;
}
#u432_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u432_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:681px;
  width:0px;
  height:0px;
}
#u433_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:58px;
}
#u433_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:41px;
  width:20px;
  height:20px;
}
#u433_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:544px;
  width:0px;
  height:0px;
}
#u434_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:135px;
  height:10px;
}
#u434_seg1 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:-109px;
  width:10px;
  height:114px;
}
#u434_seg2 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:-117px;
  width:20px;
  height:20px;
}
#u434_text {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-15px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
